@font-face {
  font-family: DS-DigitalB;
  src: url("./assets/fonts/DS-Digital/DS-DIGIB.TTF") format("truetype");
}

// Variables
$display-font: "DS-DigitalB", "Digital-7", "VT323", "monospace";
$display-color: hsla(0, 0%, 55%, 1);
$label-font: "Orbitron", Arial, sans-serif;
$button-font: "Quartz", "Segment7", "Orbitron", Arial, sans-serif;
$bg-grad: linear-gradient(170deg, #de0000 0%, #4a0101 100%);
$border-radius: 12px;

// Mixins
@mixin box($color, $padl, $padr, $radius: 3px) {
  background: $color;
  border-radius: $radius;
  padding: $padl $padr;
}
@mixin font($family, $size, $weight: normal, $ls: normal, $tt: uppercase) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $ls;
  text-transform: $tt;
}
@mixin btn($bg, $color, $f: $button-font, $fz: 0.9em, $minw: 3em) {
  font-family: $f;
  background: $bg;
  color: $color;
  font-size: $fz;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  box-shadow: 0 1px 2px 1px rgb(0, 0, 0);
  min-width: $minw;
  cursor: pointer;
  transition: 0.2s all;
}

// Body & estructura
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #121212;
}
.clock-container {
  display: flex;
  flex-wrap: wrap;
  max-width: min-content;
  width: min-content;
  @include box($bg-grad, 1.5rem, 1.5rem, $border-radius);
}

/* Etiquetas */

#break-length,
#session-length,
#time-left {
  color: $display-color;
  border: 1px dotted rgba(179, 179, 179, 0.523);
  background: rgb(13, 26, 49);
  border-radius: 7px;
  box-shadow: 0 1px 2px 1px rgb(0, 0, 0),
    inset 0 2px 8px rgba(33, 40, 33, 0.693);
  text-transform: uppercase;
}

#time-left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  min-width: 100%;
  min-height: 100px;
}

#time-clock {
  @include font($display-font, 4rem, normal, 4px);
  position: absolute;
  padding: 0.6em 1em 0.6em 3.5em;
  min-width: 360px;
}

#timer-label {
  @include font($display-font, 1.2rem, bold, 1.5px);
  position: absolute;
  right: 1em;
  &.align-top {
    top: 1.2em;
  }
  &.align-bottom {
    top: 2.5em;
  }
}

#break-length,
#session-length {
  @include font($display-font, 2em, normal, 1.5px);
  padding: 0.3em 0.6em;
  min-width: 100%;
  text-align: center;
}

#session-label,
#break-label {
  @include font($label-font, 1rem, bold, 1.5px);
  @include box(rgba(3, 24, 73, 0.578), 0.4em, 0.8em, 6px);
  margin-bottom: 0.5rem;
  text-align: center;
}

#session-label {
  color: #287119;
}
#break-label {
  color: #af1818;
}
.length-controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  justify-content: center;
  margin: 0 auto 1rem auto;
}
.length-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}
.length-buttons-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.clock-buttons {
  display: flex;
  justify-content: center;
  min-width: 100%;
  gap: 0.5rem;
}

// Botones principales
#start_stop,
#reset {
  @include btn(#333c4a, #e9e9e9);
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid #454e5c;
  padding: 1em 1em;
  margin: 0.5rem;
  min-width: 10em;
  box-shadow: 0 1px 2px 1px rgb(0, 0, 0);

  &:hover {
    background: #2a3140;
    color: #aee253;
  }
}
#start_stop {
  background-color: #2d98da;
  color: #fff;
}
#reset {
  background-color: #b33939;
  color: #fff;
  height: 60px;
}
// Botones de inc/dec
#session-increment,
#session-decrement,
#break-increment,
#break-decrement {
  @include btn(#444, #98d1e2);
  border-radius: 4px;
  padding: 8px 12px;
  border: 1px solid #333;
  font-size: 2em;
  margin: 3px 5px;
  &:hover {
    background: #555;
  }
  box-shadow: 0 1px 2px 1px rgb(0, 0, 0);
}

// Responsive y color scheme
@media (prefers-color-scheme: light) {
  body {
    background: #f0f0f0;
  }
  .clock-container {
    background: #fff;
  }
  #timer-label {
    color: #6fb1e7;
    background: #eee;
  }
  #time-left {
    background: #fff;
    color: #222;
  }
  button,
  .length-control button,
  #start_stop,
  #reset {
    background: #ddd;
    color: #222;
  }
  button:hover {
    background: #bbb;
  }
  #reset {
    background: #e27d7d;
  }
  #start_stop {
    background: #6fb1e7;
  }
}

@media (min-width: 319px) and (max-width: 600px) {
  .clock-container {
    padding: 1rem 1rem;
    max-width: 80%;
    margin: auto;
  }

  #time-clock {
    font-size: 3rem;
    padding: 0.5em 0.8em 0.5em 2em;
    min-width: 250px;
  }

  #timer-label {
    font-size: 1rem;
    left: auto;
    &.align-top {
      top: 1.8em;
    }
    &.align-bottom {
      top: 3em;
    }
  }

  #session-length,
  #break-length {
    min-width: 80%;
  }

  .clock-buttons {
    font-size: 0.7rem;
  }
}
